@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
	display: grid;
	place-content: center;
	background-color: var(--dark-cyan);
	color: var(--very-dark-desaturated-blue);
	font-family: 'Kumbh Sans', sans-serif;
	overflow-x: hidden;
}

main::before, main::after {
	position: absolute;
	content: '';
	width: 100vw;
	height: 100vh;
	transform: translate(-50%, -50%);
	z-index: -1;
  }
  
  main::before {
	top: 0;
	left: 0;
	background: url("./images/bg-pattern-top.svg") no-repeat bottom right;
  }
  
  main::after {
	top: 100%;
	left: 100%;
	background: url("./images/bg-pattern-bottom.svg") no-repeat top left;
  }

.font-bold {
	font-weight: 700;
}

.font-sm {
	font-size: .6rem;
	letter-spacing: 2px;
	color: var(--dark-gray);
}

.container {
	max-width: 20rem;
	margin-inline: auto;
}

.card {
	background-color: white;
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
}

.card__info img {
	border-radius: 50%;
	border: 4px solid white;
	margin-inline: auto;
	margin-top: -3.5rem;
}

.name {
	font-size: 1.2rem;
	margin-block-start: 0.8rem;
}

.age {
	font-weight: 400;
	color: var(--dark-gray);
}

.location {
	font-size: .9rem;
	margin-top: .2rem;
	color: var(--dark-gray);
}

.stats {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 2.5rem;
	margin-block-start: 1rem;
	border-top: 1px solid #0000000c;
}

.stat-title {
	font-size: 1.1rem;
}